@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&family=Yuji+Syuku&display=swap');

* { 
    margin: 0;
    padding: 0; 
    text-align: center;
    font-family: 'Yuji Syuku', 'sans-serif';  
}

h1 {margin-top: 220px;
    width: 92%;
    color: rgb(178, 192, 51);
    background: black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
    font-size: 30px;
    display: inline-block;
}

body {

    background-image: url('/imagens/1280px-Prune_sur_paravent_par_Kanō_Sanraku.jpg');
    background-position: center 110px;
    background-repeat: repeat;
}

button, a {
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px 120px 10px;
    border-radius: 10px; 
}

#proxima {
    text-align: center;
    color: rgb(178, 192, 51);
    background: rgb(0, 0, 0);
    margin-top: 100px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 6px #eed85a;
}

#novamente, #menu {
    text-align: center;
    color: rgb(178, 192, 51);
    background: rgb(0, 0, 0);
    margin-top: 40px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 6px #eed85a;
} 
